body {
  padding-top: 70px
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  overflow-y: auto;
}

.ratings h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}
#wimgraph {
  height: auto;
}
#graphDIV {
  height: 500px;
  background-color: #999;
  margin: 20px;
  position: relative;
}
.navBar {
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  padding-bottom: 5px;
  position: absolute;
  background-color: #000;
}
.navBar a {
  line-height:40px;
  display: block;
  float: right;
  width: 60px;
  height: 40px;
  margin: 5px 5px 0 5px;
  text-decoration: none;
  background-color: #88a;
  opacity: 0.75;
  color: #000;
}
.navBar a:hover {
  opacity: 1.0;
}
.navBar a.active {
  background-color: #1a9850;
}
.navBar a.inactive {
  background-color: #d73027;
}
#legendDIV {
  margin: 20px;
  /*padding: 5px;
  /*background-color: #666;*/
}
.legend {
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  height: 45px;
  background-color: #000;
  margin: auto;
  padding-left: 5px;
}
.legend a {
  line-height:40px;
  display: block;
  float: left;
  width: 60px;
  height: 40px;
  text-decoration: none;
  opacity: 0.75;
  color: #000;
  padding-left: 3px;
}
.legend a:hover {
  opacity: 1.0;
}
.legend a.inactive {
  background-color: #d73027;
}
#loader {
  height: 200px;
  width: 200px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 1.0);
  position: absolute;
  line-height: 50px;
  padding: 50px 0;
  text-align: center;
  font-weight: bold;
  font-size: 24pt;
  display: none;
}