body {
  padding-top: 70px
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  overflow-y: auto;
}

.ratings h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

#wimgraph {
  height: 400px;
  background-color: #eef;
  margin: 20px;
  position: relative;
}
#navBar {
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  padding-bottom: 5px;
  position: absolute;
  background-color: #000;
}
#navBar a {
  line-height:40px;
  display: block;
  float: right;
  width: 60px;
  height: 40px;
  margin: 5px 5px 0 5px;
  text-decoration: none;
  background-color: #bbd;
  color: #000;
}
#navBar a:hover {
  background-color: #779;
}