<style>


.y.axis {
  font: 10px sans-serif;
}
.x.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}




</style>
<div>
<label>Type of Graph:
<select class="form-control2" ng-model="myBarType" ng-options="item3.id as item3.label for item3 in barType" style='width:75px;display:inline;margin-right:5px;'></select>
</label>

<span ng-hide="myBarType=='Year'">
    <label>Class:
        <select class="form-control2" ng-model="myTruckClass" ng-options="item.id as item.label for item in truckClass" style='width:75px;display:inline;margin-right:5px;'></select>
    </label>
</span>
<span ng-hide="myBarType=='Weight'">
    <label>Vehicle Type:
        <select class="form-control2" ng-model="myVehicleTypeArr" ng-options="item2.id as item2.label for item2 in vehicleTypeArr" style='width:75px;display:inline;margin-right:5px;'></select>
    </label>
    <label>Year:
        <select class="form-control2" ng-model="myYearA" ng-options="item4.id as item4.label for item4 in yearList" style='width:75px;display:inline;margin-right:5px;'></select>
    </label>
    <span ng-hide="myYearA=='--'">
        <label>Year Compare:
        <select class="form-control2" ng-model="myYearB" ng-options="item5.id as item5.label for item5 in yearList" style='width:75px;display:inline;margin-right:5px;'></select>
    </label>
    </span>
</span>
</div>
<div id="stationInfo" style="position:absolute;width:200px;background-color:#fff"></div>

<div id="barGraph" class="bar">
    
</div>
<br>
<div class="row">

    <div class="col-sm-12 col-lg-12 col-md-12">
        <div id="statesDIV"></div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4"  ng-repeat='station in stations' >
        <div class="thumbnail">
            <div class="ratings">
            <p class="pull-right">Years of Data : {{station.years.length}}</p>
                <p><a href="#/station/{{station.stationId}}"> Station ID : {{station.stationId}}</a>
                </p>
            </div>
            <div class="caption">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Year</th><th>Completeness</th><th>AADT</th>
                        </tr>
                    <thead>
                    <tr ng-repeat='year in station.years'>
                        <td>20{{year.year}}</td><td>{{year.percent | number}}<td>{{year.AADT | number}}<td>
                    </tr>
                </table>
                </p>
            </div>
        </div>
    </div>
    
</div>

   