<style>


.y.axis {
  font: 10px sans-serif;
}
.x.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.yearExists {
    background-color: green;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.cities {
  fill: none;
  stroke: #aaa;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;
}

.city--hover {
  stroke: #000;
}

.focus text {
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

.voronoi--show path {
  stroke: red;
  stroke-opacity: .2;
}

#form {
  position: absolute;
  top: 20px;
  right: 30px;
}



</style>

<div id="barTable"></div>
<div>
<label>Display Over Weight As Line Graph:
    <select class="form-control2" ng-model="myLine" ng-options="item7.id as item7.label for item7 in line" style='width:75px;display:inline;margin-right:5px;'></select>
</label>
<label>Order by:
<select class="form-control2" ng-model="myOrder" ng-options="item8.id as item8.label for item8 in time_order" style='width:75px;display:inline;margin-right:5px;'></select>
</label>
<span ng-hide="myLine=='on'">
<label>Over Weight Trucks by:
<select class="form-control2" ng-model="myTimePeriod" ng-options="item6.id as item6.label for item6 in timePeriod" style='width:75px;display:inline;margin-right:5px;'></select>
</label>
</span>

</div>
<div>
<label>Type of Graph:
<select class="form-control2" ng-model="myBarType" ng-options="item3.id as item3.label for item3 in barType" style='width:75px;display:inline;margin-right:5px;'></select>
</label>

<span ng-hide="myBarType=='Year'">
    <label>Class:
        <select class="form-control2" ng-model="myTruckClass" ng-options="item.id as item.label for item in truckClass" style='width:75px;display:inline;margin-right:5px;'></select>
    </label>
</span>
<span ng-hide="myBarType=='Weight'">
    <label>Display Year As Line Graph:
         <select class="form-control2" ng-model="myLine2" ng-options="item9.id as item9.label for item9 in line2" style='width:75px;display:inline;margin-right:5px;'></select>
    </label>
    <span ng-hide="myLine2=='on'">
    <label>Vehicle Type:
        <select class="form-control2" ng-model="myVehicleTypeArr" ng-options="item2.id as item2.label for item2 in vehicleTypeArr" style='width:75px;display:inline;margin-right:5px;'></select>
    </label>
    <label>Year:
        <select class="form-control2" ng-model="myYearA" ng-options="item4.id as item4.label for item4 in yearList" style='width:75px;display:inline;margin-right:5px;'></select>
    </label>
    <span ng-hide="myYearA=='--'">
        <label>Year Compare:
        <select class="form-control2" ng-model="myYearB" ng-options="item5.id as item5.label for item5 in yearList" style='width:75px;display:inline;margin-right:5px;'></select>
    </label>
        </span>
        </span>
    <span ng-hide="myLine2=='off'">
        <label>Time Period:
            <select class="form-control2" ng-model="myTimePeriod2" ng-options="item11.id as item11.label for item11 in timePeriod2" style='width:75px;display:inline;margin-right:5px;'></select>
            </label>
            <label>Vehicle Type:
            <select class="form-control2" ng-model="myMonthlyTraffic" ng-options="item10.id as item10.label for item10 in vehicleTypeArr2" style='width:75px;display:inline;margin-right:5px;'></select>
        </label>
    </span>
    
</span>
<br><button class='btn btn-info' type="button" ng-click="loadGraphs()">Apply</button>
</div>
<div id="stationInfo" style="position:absolute;width:200px;background-color:#fff"></div>

<div id="barGraph" class="bar">
    
</div>
<br>
<div class="row">

    <div class="col-sm-12 col-lg-12 col-md-12">
        <div id="statesDIV"></div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4"  ng-repeat='station in stations' >
        <div class="thumbnail">
            <div class="ratings">
            <p class="pull-right">Years of Data : {{station.years.length}}</p>
                <p><a href="#/station/{{station.stationId}}"> Station ID : {{station.stationId}}</a>
                </p>
            </div>
            <div class="caption">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Year</th><th>Completeness</th><th>AADT</th>
                        </tr>
                    <thead>
                    <tr ng-repeat='year in station.years'>
                        <td>20{{year.year}}</td><td>{{year.percent | number}}<td>{{year.AADT | number}}<td>
                    </tr>
                </table>
                </p>
            </div>
        </div>
    </div>
    
</div>

   