<style>

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}



</style>
<!--<script src="scripts/resources/calendar.js"></script>-->
<div class="row">

    <div class="col-sm-12 col-lg-12 col-md-12">
        <div class="thumbnail">
            <div id="legend">
            </div>
            <div id="caldiv" class="ratings">
                <p> Station ID : {{station}} </p>
                <p>Station URL : {{url}}</p>
                <select ng-model="myClass" ng-options="item.id as item.label for item in values">
                  </select>
                  <button type="button" ng-click="loadCalendar()">Recolor</button> 
            </div>
            <div id='wimgraph'>
            </div>
        </div>
    </div>
</div>