<div class="row">

    <div class="col-sm-4 col-lg-4 col-md-4"  ng-repeat='station in stations' >
        <div class="thumbnail">
            <div class="ratings">
            <p class="pull-right">Years of Data : {{station.years.length}}</p>
                <p><a href="#/state/{{state.state_fips}}"> Station ID : {{station.stationId}}</a>
                </p>
            </div>
            <div class="caption">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Year</th><th>Completeness</th><th>AADT</th>
                        </tr>
                    <thead>
                    <tr ng-repeat='year in station.years'>
                        <td>20{{year.year}}</td><td>{{year.percent | number}}<td>{{year.AADT | number}}<td>
                    </tr>
                </table>
                </p>
            </div>
        </div>
    </div>
</div>